* {
    box-sizing: border-box;
    font-size: 62.5%;
}

h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #A81D36;
    width: 440px;
    margin: auto;
    border-radius: 10px;
    padding: 20px 0;
    padding-bottom: 0;
}
.display {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    font-size: 4rem;
    color: white;
    background: #323335;
    border-radius: 40px;
    padding: 15px;
}
.displayNumber {
    font-size: 4rem;
}
.App {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 25px 0;
}
.left-section {
    width: 73%;
}

.right-section {
    width: 23%;
}
button {
    font-size: 3rem;
    border-radius: 50%;
    border: none;
    margin: 10px 0;
    color: white;
    cursor: pointer;
}
.operators {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}
.operatorButton {
    width: 80%;
    padding: 14px 0;
    background: #237293;  
}
.operatorButton:first-child {
    margin-top: 0;
    margin-bottom: 15px;
}
.operatorButton:last-child {
    margin-bottom: 0;
}
.specials {
    display: flex;
    justify-content: space-between;
}
.specialsButtons {
    width: 25%;
    padding: 14px 0;
    margin: 0;
    margin-bottom: 14px;
    background: #225D9E;
}
.numbers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    width: 100%;
}

.numberButton {
    width: 25%;
    padding: 14px 0;
    margin-right: 1px;
    background: #184379;
}

#button0 {
    width: 62%;
    border-radius: 4rem;
}

